<?xml version="1.0"?>
<launch>

  <arg name="dof" default="7" />
  <arg name="robot_type" default="xarm" />
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="add_gripper" default="false" doc="If true, will attach xarm_gripper from UFACTORY to the end" />
  <arg name="add_vacuum_gripper" default="false" doc="If true, will attach xarm_vacuum_gripper from UFACTORY to the end" />
  <arg name="model1300" default="false" doc="load the new tool end model" />
  <arg name="add_realsense_d435i" default="false" />
  <arg name="add_d435i_links" default="false" />
  <arg name="robot_sn" default="" />
  
  <param name="robot_description" command="$(find xacro)/xacro
    --inorder '$(find xarm_description)/urdf/xarm_device.urdf.xacro'
    robot_type:=$(arg robot_type) dof:=$(arg dof) limited:=$(arg limited) 
    model1300:=$(arg model1300)
    add_gripper:=$(arg add_gripper)
    add_vacuum_gripper:=$(arg add_vacuum_gripper)
    add_realsense_d435i:=$(arg add_realsense_d435i)
    add_d435i_links:=$(arg add_d435i_links)
    robot_sn:=$(arg robot_sn)
    " />

</launch>
