<launch>

  <arg name="robot_ip" default="192.168.1.121" />
  <!-- load the default move_group planner (not xarm_simple_planner) -->
  <arg name="show_rviz" default="true" />
  <!-- NO_GUI_CTRL means that Rviz configuration is just for display purpose, no (Moveit) control panel loaded -->
  <arg name="no_gui_plan" default="false" />

  <!-- bring up node to collect robot feedback -->
  <node name="realXarm_state_publisher" pkg="xarm_driver" type="joint_state_pub.py" args="--ip=$(arg robot_ip)" respawn="false" output="screen" />
  <!-- run the driver for real xarm7 motion cmd sending -->
  <node name="realXarm_driver" pkg="xarm_driver" type="driver.py" args="--ip=$(arg robot_ip)" respawn="false" output="screen" />

  <include file="$(find xarm7_moveit_config)/launch/moveit_rviz_common.launch">
    <arg name="jnt_stat_source" value="[/joint_states]" />
    <arg name="show_rviz" value="$(arg show_rviz)" />
    <arg name="NO_GUI_CTRL" value="$(arg no_gui_plan)"/>
  </include>

</launch>
