<?xml version="1.0"?>
<launch>
  <arg name="ns_1" default="" doc="namespace as a group"/>
  <arg name="ns_2" default="" doc="namespace as a group"/>
  <arg name="robot_ip_1" />
  <arg name="robot_ip_2" />
  <arg name="report_type_1" default="normal" />	
  <arg name="report_type_2" default="normal" />	
  <!-- load the default move_group planner (not xarm_simple_planner) -->
  <arg name="show_rviz" default="true" />
  <!-- NO_GUI_CTRL means that Rviz configuration is just for display purpose, no (Moveit) control panel loaded -->
  <arg name="no_gui_plan" default="false" />
  <arg name="velocity_control_1" default="false"/>
  <arg name="velocity_control_2" default="false"/>
  <arg name="enforce_limits_1" default="true" />
  <arg name="enforce_limits_2" default="true" />
  <arg name="baud_checkset_1" default="true" />
  <arg name="baud_checkset_2" default="true" />
	<arg name="default_gripper_baud_1" default="2000000" />
	<arg name="default_gripper_baud_2" default="2000000" />

    <!-- startup 2 xarm7s in moveit -->
  <group ns="$(arg ns_1)">
    <remap from="/tf" to="$(arg ns_1)/tf" />
    <remap from="/tf_static" to="$(arg ns_1)/tf_static" />
    <remap from="/robot_description" to="$(arg ns_1)/robot_description" />
    <include file="$(find xarm7_moveit_config)/launch/realMove_exec.launch">
      <arg name="robot_ip" value="$(arg robot_ip_1)"/>
      <arg name="report_type" value="$(arg report_type_1)" />
      <arg name="show_rviz" value="$(arg show_rviz)"/>
      <arg name="no_gui_plan" value="$(arg no_gui_plan)"/>
      <arg name="ext_ns" value="$(arg ns_1)" />
      <arg name="velocity_control" value="$(arg velocity_control_1)" />
      <arg name="enforce_limits" value="$(arg enforce_limits_1)" />
      <arg name="baud_checkset" value="$(arg baud_checkset_1)" />
      <arg name="default_gripper_baud" value="$(arg default_gripper_baud_1)" />
    </include>
  </group>

  <group ns="$(arg ns_2)">
    <remap from="/tf" to="$(arg ns_2)/tf" />
    <remap from="/tf_static" to="$(arg ns_2)/tf_static" />
    <remap from="/robot_description" to="$(arg ns_2)/robot_description" />
    <include file="$(find xarm7_moveit_config)/launch/realMove_exec.launch">
      <arg name="robot_ip" value="$(arg robot_ip_2)"/>
      <arg name="report_type" value="$(arg report_type_2)" />
      <arg name="show_rviz" value="$(arg show_rviz)"/>
      <arg name="no_gui_plan" value="$(arg no_gui_plan)"/>
      <arg name="ext_ns" value="$(arg ns_2)" />
      <arg name="velocity_control" value="$(arg velocity_control_2)" />
      <arg name="enforce_limits" value="$(arg enforce_limits_2)" />
      <arg name="baud_checkset" value="$(arg baud_checkset_2)" />
      <arg name="default_gripper_baud" value="$(arg default_gripper_baud_2)" />
    </include>
  </group>


</launch>