<launch>
  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />
  <!-- Allow user to specify database location -->
  <arg name="db_path" default="$(find xarm5_moveit_config)/default_warehouse_mongo_db" />
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />
  <!-- By default, hide joint_state_publisher's GUI -->
  <arg name="use_gui" default="false" />
  <!-- as for moveit planner, always reload model to limit the joint range -->
  <arg name="reload_limited_description" default="true" />

  <!-- arguments configurable by upper layers: -->
  <!-- the source topic of joint states  -->
  <arg name="jnt_stat_source" default="[/joint_states]" />
  <arg name="jnt_stat_pub_rate" default="10" />
  <!-- option to launch move_group node or not -->
  <arg name="load_move_group" default="true" />
  <!-- whether to use fake_execution controller to drive the motion -->
  <arg name="fake_execution" default="false" />
  <!-- option to publish tf topic or not -->
  <arg name="pub_tf" default="true" />
  <!-- NO_GUI_CTRL means that Rviz configuration is just for display purpose, no (Moveit) control panel loaded -->
  <arg name="NO_GUI_CTRL" default="false"/>
  <!-- option to show rviz or not -->
  <arg name="show_rviz" default="true" />
  <!-- whether or not to load a moveit controller for gripper -->
  <arg name="gripper_controller" />

  <arg name="model1300" default="false" />
  <arg name="add_realsense_d435i" default="false" />
  <arg name="add_d435i_links" default="false" />
  <arg name="attach_to" default="world" />
  <arg name="attach_xyz" default="'0 0 0'" />
  <arg name="attach_rpy" default="'0 0 0'" />
  <arg name="robot_sn" default="" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server, limit joint range within [-pi, pi] -->
  <include file="$(find xarm5_gripper_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    <arg name="model1300" value="$(arg model1300)"/>
    <arg name="add_realsense_d435i" value="$(arg add_realsense_d435i)"/>
    <arg name="add_d435i_links" value="$(arg add_d435i_links)"/>
    <arg name="attach_to" value="$(arg attach_to)"/>
    <arg name="attach_xyz" value="$(arg attach_xyz)"/>
    <arg name="attach_rpy" value="$(arg attach_rpy)"/>
    <arg name="robot_sn" value="$(arg robot_sn)"/>
  </include>

  <!-- If needed, broadcast static tf for robot root -->

  <!-- publish /joint_states from specified source topic -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="$(arg use_gui)"/>
    <param name="/rate" value="$(arg jnt_stat_pub_rate)"/>
    <rosparam param="/source_list" subst_value="True">$(arg jnt_stat_source)</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node if="$(arg pub_tf)" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include if="$(arg load_move_group)" file="$(find xarm5_gripper_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="$(arg fake_execution)"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gripper_controller" value="$(arg gripper_controller)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include if="$(arg show_rviz)" file="$(find xarm5_gripper_moveit_config)/launch/moveit_rviz.launch">
    <arg name="no_gui_ctrl" value="$(arg NO_GUI_CTRL)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- If database loading was enabled, start mongodb as well -->
  <include file="$(find xarm5_gripper_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

</launch>