<launch>
  <arg name="velocity_control" default="false"/>
  <arg name="namespace" default="xarm"/>
  <!-- Remap the name space so it can send command to gazebo loaded controller -->
  <!-- this remap must appear BEFORE move_group launch -->
  <!-- <remap from="/follow_joint_trajectory" to="/xarm/xarm5_traj_controller/follow_joint_trajectory"/> -->
  <arg name="xarm_traj_controller" value="$(eval 'xarm5_traj_controller_velocity' if arg('velocity_control') else 'xarm5_traj_controller')" />
  <arg name="gripper_trajectory_controller" value="$(eval 'gripper_trajectory_controller_velocity' if arg('velocity_control') else 'gripper_trajectory_controller')" />
  <remap from="arm_controller/follow_joint_trajectory" to="/$(arg namespace)/$(arg xarm_traj_controller)/follow_joint_trajectory"/>
  <remap from="gripper_controller/follow_joint_trajectory" to="/$(arg namespace)/$(arg gripper_trajectory_controller)/follow_joint_trajectory"/>

  <include file="$(find xarm5_gripper_moveit_config)/launch/moveit_rviz_common.launch">
    <arg name="jnt_stat_source" value="[/$(arg namespace)/joint_states]" />
    <arg name="load_move_group" value="true" />
    <arg name="pub_tf" value="false" />
    <arg name="gripper_controller" value="true" />
  </include>

  
</launch>
