<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="UF_GRIPPER">
  <xacro:macro name="gripper_device" params="prefix:='' robot_type:='xarm' mesh_suffix:='stl' ">

    <!-- Load Common Material -->
    <xacro:include filename="$(find xarm_description)/urdf/_private_macro.xacro" />
    <xacro:device_macro_begin />

    <!-- Load Common Material -->
    <xacro:include filename="$(find xarm_description)/urdf/common/common.material.xacro" />
    <xacro:common_material prefix="${prefix}"/>

    <xacro:property name="mesh_path" value="package://xarm_description/meshes" scope="parent"/>

    <!-- include common.link.xacro -->
    <xacro:include filename="$(find xarm_description)/urdf/common/common.link.xacro" />

    <xacro:if value="${robot_type == 'lite'}">
      <!-- Load Lite Gripper Model URDF -->
      <xacro:include filename="$(find xarm_description)/urdf/gripper/lite_gripper.urdf.xacro" />
      <xacro:uflite_gripper_urdf prefix="${prefix}" />
    </xacro:if>
    <xacro:if value="${robot_type == 'bio'}">
      <!-- Load BIO Gripper Model URDF -->
      <xacro:include filename="$(find xarm_description)/urdf/gripper/bio_gripper_macro.xacro" />
      <xacro:bio_gripper_macro prefix="${prefix}" />
    </xacro:if>
    <xacro:unless value="${robot_type == 'lite' or robot_type == 'bio'}">
      <!-- Load XArm Gripper Model URDF -->
      <xacro:include filename="$(find xarm_description)/urdf/gripper/xarm_gripper_macro.xacro" />
      <xacro:xarm_gripper_macro prefix="${prefix}" />
    </xacro:unless>
  </xacro:macro>
</robot>