<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="xarm5" >
  <xacro:macro name="xarm5_robot" params="prefix:='' namespace:='xarm' limited:='false' effort_control:='false' 
    attach_to:='world' xyz:='0 0 0' rpy:='0 0 0' load_gazebo_plugin:='true' ">

    <!-- include xarm5 relative macros: -->
    <xacro:include filename="$(find xarm_description)/urdf/xarm5.urdf.xacro" />
    <xacro:include filename="$(find xarm_description)/urdf/xarm5.transmission.xacro" />
    <xacro:include filename="$(find xarm_description)/urdf/xarm5.gazebo.xacro" />

    <!-- gazebo_plugin -->
    <xacro:if value="${load_gazebo_plugin}">
    <xacro:include filename="$(find xarm_description)/urdf/common.gazebo.xacro" />
    <xacro:gazebo_ros_control_plugin namespace="${namespace}"/>
    </xacro:if>

    <!-- add one world link if no 'attach_to' specified  -->
    <xacro:if value="${attach_to == 'world'}">
      <link name="world" />
    </xacro:if>

    <joint name="world_joint" type="fixed">
      <parent link="${attach_to}" />
      <child link = "${prefix}link_base" />
      <origin xyz="${xyz}" rpy="${rpy}" />
    </joint>

    <xacro:if value="${limited}">
      <xacro:xarm5_urdf prefix="${prefix}"
        joint1_lower_limit="${-pi*0.99}" joint1_upper_limit="${pi*0.99}"
        joint2_lower_limit="${-2.059}" joint2_upper_limit="${2.0944}"
        joint3_lower_limit="${-pi*0.99}" joint3_upper_limit="${0.19198}"
        joint4_lower_limit="${-1.69297}" joint4_upper_limit="${pi*0.99}"
        joint5_lower_limit="${-pi*0.99}" joint5_upper_limit="${pi*0.99}"/>
    </xacro:if>
    <xacro:unless value="${limited}">
      <xacro:xarm5_urdf prefix="${prefix}"/>
    </xacro:unless>

    <xacro:if value="${effort_control}">
      <xacro:xarm5_transmission prefix="${prefix}" hard_interface="EffortJointInterface" />
    </xacro:if>
    <xacro:unless value="${effort_control}">
      <xacro:xarm5_transmission prefix="${prefix}" hard_interface="PositionJointInterface" />
    </xacro:unless>

    <xacro:xarm5_gazebo prefix="${prefix}" />

  </xacro:macro>

</robot>