<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="xarm5_with_vacuum_gripper">
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="ros_namespace" default="xarm"/>
  <xacro:arg name="limited" default="false"/>
  <xacro:arg name="effort_control" default="false"/>

  <!-- load xarm5 robot -->
  <xacro:include filename="$(find xarm_description)/urdf/xarm5_robot_macro.xacro" />
  
  <!-- Attach gripper --> 
  <xacro:include filename="$(find xarm_description)/urdf/xarm_vacuum_gripper.urdf.xacro" />

  <xacro:xarm5_robot prefix="$(arg prefix)" namespace="$(arg ros_namespace)" limited="$(arg limited)" effort_control="$(arg effort_control)"/>
  <xacro:xarm_vacuum_gripper_urdf attach_to="$(arg prefix)link_eef" />
</robot>