<launch>
  <arg name="arm_dof" />
  <arg name="robot_ip" />
  <arg name="end_effector" default="" />
  <arg name="show_rviz" default="true" />
  <arg name="no_gui_plan" default="true" />
  <arg name="report_type" default="normal" />
  <arg name="robot_type" default="xarm" />
  <arg name="ext_ns" default="" />
  <arg name="model1300" default="false" />

  <!-- lite6 -->
  <include if="$(eval robot_type == 'lite')" file="$(eval find(str(arg('robot_type')) + str(arg('arm_dof')) + '_moveit_config') + '/launch/realMove_exec.launch')">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <!-- load the default move_group planner (not xarm_simple_planner) -->
    <arg name="show_rviz" value="$(arg show_rviz)" />
    <!-- NO_GUI_CTRL means that Rviz configuration is just for display purpose, no (Moveit) control panel loaded -->
    <arg name="no_gui_plan" value="$(arg no_gui_plan)" />
    <arg name="report_type" value="$(arg report_type)" />
    <arg name="ext_ns" value="$(arg ext_ns)" />
    <arg name="add_gripper" value="true" if="$(eval end_effector=='_gripper')" />
    <arg name="add_vacuum_gripper" value="true" if="$(eval end_effector=='_vacuum_gripper')" />
  </include>

  <!-- xarm -->
  <include if="$(eval robot_type != 'lite')" file="$(eval find(str(arg('robot_type')) + str(arg('arm_dof')) + arg('end_effector') + '_moveit_config') + '/launch/realMove_exec.launch')">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <!-- load the default move_group planner (not xarm_simple_planner) -->
    <arg name="show_rviz" value="$(arg show_rviz)" />
    <!-- NO_GUI_CTRL means that Rviz configuration is just for display purpose, no (Moveit) control panel loaded -->
    <arg name="no_gui_plan" value="$(arg no_gui_plan)" />
    <arg name="report_type" value="$(arg report_type)" />
    <arg name="ext_ns" value="$(arg ext_ns)" />
    <arg name="model1300" value="$(arg model1300)" />
  </include>

</launch>