<launch>

  <arg name="robot_ip" />
  
  <arg name="robot_dof" />
  <!-- load the default move_group planner (not xarm_simple_planner) -->
  <arg name="show_rviz" default="true" />
  <!-- NO_GUI_CTRL means that Rviz configuration is just for display purpose, no (Moveit) control panel loaded -->
  <arg name="no_gui_plan" default="true" />
  <arg name="add_gripper" default="false" />
  <arg name="add_vacuum_gripper" default="false" />
  <arg name="report_type" default="normal" />
  <arg name="ext_ns" default="" />

  <remap from="move_group/display_planned_path" to="$(arg ext_ns)/move_group/display_planned_path" />
  <include file="$(find xarm_planner)/launch/moveit_real_arm_configurations.launch">
    <arg name="arm_dof" value="$(arg robot_dof)" />
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="end_effector" value="_gripper" if="$(arg add_gripper)" />
    <arg name="end_effector" value="_vacuum_gripper" if="$(arg add_vacuum_gripper)" />
    <arg name="report_type" value="$(arg report_type)" />
    <arg name="ext_ns" value="$(arg ext_ns)" />
  </include>

  <remap from="DOF" to="$(arg ext_ns)/xarm/DOF" />
  <!-- bring up the simple planner (based on move_group) that provide plan service and execution server -->
  <node name="xarm_move_group_planner" pkg="xarm_planner" type="xarm_simple_planner" />

</launch>

