<launch>
  <arg name="ns" default="" />
  <arg name="jnt_stat_pub_rate" default="10" />
  <arg name="model1300_1" default="false" />
  <arg name="model1300_2" default="false" />
  <arg name="add_realsense_d435i_1" default="false" />
  <arg name="add_realsense_d435i_2" default="false" />
  <arg name="add_d435i_links_1" default="false" />
  <arg name="add_d435i_links_2" default="false" />
  <arg name="robot_sn_1" default="" />
  <arg name="robot_sn_2" default="" />

  <remap from="source_list" to="/source_list" />
  <include file="$(find dual_xarm6_moveit_config)/launch/moveit_rviz_common.launch">
    <arg name="jnt_stat_source" value="[move_group/fake_controller_joint_states]" />
    <arg name="jnt_stat_pub_rate" value="$(arg jnt_stat_pub_rate)"/>
    <!-- option to launch move_group node or not -->
    <arg name="load_move_group" value="true" />
    <!-- whether to use fake_execution controller to drive the motion -->
    <arg name="fake_execution" value="true" />
    <arg name="model1300_1" value="$(arg model1300_1)" />
    <arg name="model1300_2" value="$(arg model1300_2)" />
    <arg name="add_realsense_d435i_1" value="$(arg add_realsense_d435i_1)"/>
    <arg name="add_realsense_d435i_2" value="$(arg add_realsense_d435i_2)"/>
    <arg name="add_d435i_links_1" value="$(arg add_d435i_links_1)"/>
    <arg name="add_d435i_links_2" value="$(arg add_d435i_links_2)"/>
    <arg name="robot_sn_1" value="$(arg robot_sn_1)"/>
    <arg name="robot_sn_2" value="$(arg robot_sn_2)"/>
  </include>

</launch>
