<launch>
  <arg name="robot_ip" />
  <arg name="report_type" default="normal" />
  <arg name="dof" default="7"/>
  <arg name="robot_type" default="xarm"/>
  <arg name="use_moveit" default="false" />
  <arg name="namespace" default="xarm" />
  <arg name="velocity_control" default="false"/>
  <arg name="enforce_limits" default="true" />
  <arg name="baud_checkset" default="true" />
	<arg name="default_gripper_baud" default="2000000" />
  <arg name="publish_tf" default="false" />
  <arg name="show_rviz" default="false" />
  <arg name="add_gripper" default="false" />
  <arg name="prefix" default="" />
  <arg name="joint_state_flags" default="-1" />

  <arg name="robot_dof" value="$(eval arg('dof') if arg('robot_type') == 'xarm' else 6)" />
  <arg name="robot_name" value="$(eval 'uf850' if arg('robot_type') == 'uf850' else arg('robot_type') + str(arg('robot_dof')))" />

  <param name="$(arg namespace)/xarm_robot_ip" type="str" value = "$(arg robot_ip)"/>
	<param name="$(arg namespace)/xarm_report_type" type="str" value = "$(arg report_type)"/>
	<param name="$(arg namespace)/baud_checkset" type="bool" value = "$(arg baud_checkset)"/>
	<param name="$(arg namespace)/default_gripper_baud" type="int" value = "$(arg default_gripper_baud)"/>
  <param name="$(arg namespace)/velocity_control" type="bool" value = "$(arg velocity_control)"/>
  <param name="$(arg namespace)/enforce_limits" type="bool" value = "$(arg enforce_limits)"/>
  <param name="$(arg namespace)/add_gripper" type="bool" value = "$(arg add_gripper)"/>
  <param name="$(arg namespace)/uf_model" value="$(eval 'XARM' if arg('robot_type') != 'lite' else 'LITE')" />
  <param name="$(arg namespace)/prefix" value="$(arg prefix)" />
  <param name="$(arg namespace)/hw_ns" value="$(arg namespace)" />
  <param name="$(arg namespace)/joint_state_flags" type="int" value="$(arg joint_state_flags)" />

  <node if="$(arg publish_tf)" name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node if="$(arg use_moveit)" name="uf_ros_controller" pkg="xarm_controller" type="uf_ros_controller" args="ip=$(arg robot_ip)" ns="$(arg namespace)" respawn="false" output="screen" />
  <node unless="$(arg use_moveit)" name="uf_driver" pkg="xarm_api" ns="$(arg namespace)" type="xarm_driver_node" output="screen" />

  <include if="$(arg show_rviz)" file="$(find xarm_description)/launch/_robot_rviz_display.launch">
    <arg name="dof" value="$(arg robot_dof)" />
    <arg name="robot_type" value="$(arg robot_type)" />
    <arg name="joint_state_source" value="[/$(arg namespace)/joint_states]" />
    <arg name="add_gripper" value="$(arg add_gripper)" />
  </include>

  <!-- run xarm driver -->
  <!-- <include file="$(find xarm_bringup)/launch/xarm_robot.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="report_type" value="$(arg report_type)" />
    <arg name="hw_ns" value="$(arg namespace)" />
    <arg name="publish_tf" value="false"/>
    <arg name="baud_checkset" value="$(arg baud_checkset)"/>
    <arg name="default_gripper_baud" value="$(arg default_gripper_baud)"/>
  </include> -->

  <!-- run xarm_traj_controller from HW interface, enable direct command to real robot arm -->  
  <!-- <param name = "$(arg namespace)/velocity_control" type="bool" value = "$(arg velocity_control)"/>
  <param name = "$(arg namespace)/enforce_limits" type="bool" value = "$(arg enforce_limits)"/>
  <node if="$(arg use_moveit)" name="xarm_traj_controller" pkg="xarm_controller" type="xarm_traj_controller" args="ip=$(arg robot_ip)" ns="$(arg namespace)" respawn="false" output="screen" /> -->

</launch>
