<?xml version="1.0"?>
<launch>
  <arg name="group_name" default="" doc="namespace as a group"/>
  <arg name="robot_ip" />
  <arg name="report_type" default="normal" />	
  <arg name="enforce_limits" default="true" />
  <arg name="baud_checkset" default="true" />
	<arg name="default_gripper_baud" default="2000000" />
  <arg name="show_rviz" default="false" />
  <arg name="add_gripper" default="false" />
  <arg name="joint_state_flags" default="-1" />
 
  <group ns="$(arg group_name)">
    <remap from="/tf" to="$(arg group_name)/tf" />
    <remap from="/tf_static" to="$(arg group_name)/tf_static" />
    <include file="$(find xarm_bringup)/launch/xarm6_server.launch">
      <arg name="robot_ip" value="$(arg robot_ip)" />
      <arg name="report_type" value="$(arg report_type)" />
      <arg name="enforce_limits" value="$(arg enforce_limits)" />
      <arg name="baud_checkset" value="$(arg baud_checkset)" />
      <arg name="default_gripper_baud" value="$(arg default_gripper_baud)" />
      <arg name="show_rviz" value="$(arg show_rviz)" />
      <arg name="add_gripper" value="$(arg add_gripper)" />
      <arg name="joint_state_flags" value="$(arg joint_state_flags)" />
    </include>
  </group>

</launch>