<launch>
	<arg name="robot_ip" doc="User must properly specify robot ip address"/>
	<arg name="publish_tf" default="true" />
	<arg name="hw_ns" default="xarm" />
    
	<param name = "$(arg hw_ns)/xarm_robot_ip" type="str" value = "$(arg robot_ip)"/>

    <node name="robot_state_publisher" if="$(arg publish_tf)" pkg="robot_state_publisher" type="state_publisher" />

	<node name="xarm_driver" pkg="xarm_api" ns="$(arg hw_ns)" type="xarm_driver_node" output="screen" />
</launch>
