<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="xarm7" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find uf_robot_moveit_config)/config/ros_controllers.yaml" command="load"/>
  <!-- <rosparam file="$(find uf_robot_moveit_config)/config/$(arg robot_name)/ros_controllers.yaml" command="load"/> -->

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="$(arg robot_name)" args=""/>

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="joint_states" to="$(arg robot_name)/joint_states" />
  </node>

</launch>
