<launch>
  <arg name="velocity_control" default="false"/>
  <arg name="namespace" default="xarm"/>
  <arg name="model1300" default="false" />
  <arg name="add_realsense_d435i" default="false" />
  <arg name="add_d435i_links" default="false" />
  <arg name="robot_sn" default="" />
  <!-- Remap the name space so it can send command to gazebo loaded controller -->
  <!-- this remap must appear BEFORE move_group launch -->
  <arg name="robot_controller_name" value="$(eval 'xarm6_velo_traj_controller' if arg('velocity_control') else 'xarm6_traj_controller')" />
  <arg name="gripper_controller_name" value="$(eval 'gripper_velo_traj_controller' if arg('velocity_control') else 'gripper_traj_controller')" />
  <remap from="arm_controller/follow_joint_trajectory" to="/$(arg namespace)/$(arg robot_controller_name)/follow_joint_trajectory"/>
  <remap from="gripper_controller/follow_joint_trajectory" to="/$(arg namespace)/$(arg gripper_controller_name)/follow_joint_trajectory"/>

  <include file="$(find xarm6_gripper_moveit_config)/launch/moveit_rviz_common.launch">
    <arg name="jnt_stat_source" value="[/$(arg namespace)/joint_states]" />
    <arg name="load_move_group" value="true" />
    <arg name="pub_tf" value="false" />
    <arg name="gripper_controller" value="true" />
    <arg name="model1300" value="$(arg model1300)"/>
    <arg name="add_realsense_d435i" value="$(arg add_realsense_d435i)"/>
    <arg name="add_d435i_links" value="$(arg add_d435i_links)"/>
    <arg name="robot_sn" value="$(arg robot_sn)"/>
  </include>

  
</launch>
