<launch>

  <arg name="run_demo_traj" default="false"/>
  <arg name="effort_control" default="false"/>
  <arg name="velocity_control" default="false"/>
  <arg name="namespace" default="xarm"/>
  <arg name="add_gripper" default="false" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find xarm_controller)/config/xarm5/xarm5_controllers.yaml" command="load" ns="$(arg namespace)"/>
  <!-- Load trajectory controller for xArm by default -->
  <arg name="robot_controller_name" value="$(eval 'xarm5_velo_traj_controller' if arg('velocity_control') else 'xarm5_traj_controller')" />
  <node unless="$(arg run_demo_traj)"
    name="traj_controller_spawner"
    pkg="controller_manager"
    type="controller_manager"
    respawn="false"
    output="screen"
    ns="/$(arg namespace)"
    args="spawn $(arg robot_controller_name) joint_state_controller"/>

  <!-- run_demo: load the position controllers -->
  <node if="$(arg run_demo_traj)" name="position_controller_spawner"
    pkg="controller_manager"
    type="spawner"
    respawn="false"
    output="screen"
    ns="/$(arg namespace)"
    args="joint1_position_controller joint2_position_controller
          joint3_position_controller joint4_position_controller
          joint5_position_controller joint_state_controller"/>

  <rosparam if="$(arg add_gripper)" file="$(find xarm_controller)/config/gripper/gripper_controllers.yaml" command="load" ns="$(arg namespace)"/>
  <arg name="gripper_controller_name" value="$(eval 'gripper_velo_traj_controller' if arg('velocity_control') else 'gripper_traj_controller')" />
  <node if="$(arg add_gripper)" name="gripper_controller_spawner"
    pkg="controller_manager"
    type="spawner"
    respawn="false"
    output="screen"
    ns="/$(arg namespace)"
    args="$(arg gripper_controller_name) "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="joint_states" to="$(arg namespace)/joint_states" />
  </node>

  <!-- run_demo: start demo controller node, (pure position control) -->
  <node if="$(arg run_demo_traj)" name="continuous_cmds"
    pkg="xarm_controller"
    type="sample_motion"
    respawn="false"
    output="screen"
    ns="/$(arg namespace)"/>

</launch>
