<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="common_material" params="prefix">
    <material name="${prefix}Black">
      <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <material name="${prefix}Red">
      <color rgba="0.8 0.0 0.0 1.0"/>
    </material>

    <material name="${prefix}White">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="${prefix}Silver">
      <color rgba="0.753 0.753 0.753 1.0"/>
    </material>
  </xacro:macro>
</robot>